
.body{
  background-color: black;
}
.contact-us {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-us h3,
p {
  color: #fff;
}

.address {
  margin-top: 14px !important;
  margin-left: 10px;
}

.address span {
  color: rgb(237, 49, 149);
}

.icons {
  margin-top: 11px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons i {
  font-size: 20px;
}

.forms {
  padding: 20px;
}

.inputs input {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eee;
}

.inputs input:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #7b1fa2;
  box-shadow: none;
}

.inputs textarea {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eee;
  width: 100%;
  resize: none;
}

.inputs textarea:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #7b1fa2;
  box-shadow: none;
  resize: none;
}

.form-control {
  padding: 0.375rem 0.25rem;
}
