@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
.carousel-item img{
  width: 100%;
  height:  auto;
}


.col-md-4 img {
 height: 100%;
 width: 130%;
 border-radius: 5px;
 
}
/* .main_heading{
  background-color:#DCD6F7;
  margin: 0;
  padding: 0;
}
.abcd{
  background-color:#A6B1E1;
} */